.headerContainer {
    background: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    padding: 2rem 0;
}

.headerProfile {
    background: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
}

.headerNav {
    padding: 2rem 0;
}

.headerNav > ul {
    display: grid;
    grid-template-columns: 1fr 180px 250px;
    gap: 1rem;
    align-items: center;
}

@media (max-width: 576px) {
    .headerNav {
        padding: 1rem 0;
    }
    .headerNav > ul {
        grid-template-columns: 1fr 0.3fr 0.3fr;
    }
}

.logo {
    width: 150px;
}

.navText {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 500;
}

.navText > a {
    text-decoration: none;
    color: #ffffff;
}

@media (max-width: 576px) {
    .navText {
        font-size: 0.875rem;
        padding-bottom: 0.875rem;
    }

    .navText:last-child {
        padding-bottom: 0;
    }
}

.navText:last-child::before {
    content: "";
    padding: 3px 14px;
    margin-right: 0.8rem;
    width: 8px;
    height: 8px;
    background: url("../assets/Vector.svg");
}

@media (max-width: 576px) {
    .navText:first-child::after,
    .navText:last-child::before {
        display: none;
    }
}

.headerTitle {
    display: grid;
    justify-items: center;
    padding-top: 1rem;
}

.title {
    font-size: 1.8rem;
    color: #ffffff;
    padding-bottom: 1rem;
}

.subtitle {
    color: #ffffff;
    padding-bottom: 2rem;
}

@media (max-width: 576px) {
    .headerTitle {
        padding-top: 3rem;
    }

    .title {
        font-size: 1.1rem;
    }

    .subtitle {
        font-size: 0.875rem;
    }
}

.navLang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.langContent {
    display: none;
}

.lang {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
}

.lang:last-child {
    padding-bottom: 0;
}

.activeLang {
    display: block;
    padding: 0.875rem;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    top: 60px;
    right: 0;
}

.navItemLang,
.itemLang {
    color: #8d42ff;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 576px) {
    .navItemLang {
        display: none;
    }
}

.img-flag {
    width: 35px;
    padding-right: 1rem;
}

.userContent {
    display: grid;
    grid-template-columns: 150px 55px 20px;
    align-items: center;
    cursor: pointer;
}

.openMenu {
    background: #8d42ff;
    border-radius: 40px;
    box-shadow: 5px 5px 4px 0 rgba(141, 66, 255, 0.25);
}

@media (max-width: 576px) {
    .userContent {
        grid-template-columns: auto;
        justify-items: center;
        text-align: center;
    }

    .openMenu {
        display: block;
        position: relative;
        background: none;
        border-radius: none;
        box-shadow: none;
    }
}

.imgUser {
    width: 45px;
    border-radius: 50%;
}

.arrowUser {
    stroke: #ffffff;
    width: 20px;
}

@media (max-width: 576px) {
    .imgUser {
        width: 35px;
    }

    .arrowUser {
        display: none;
    }
}

.userInfo {
    display: none;
}

.username {
    text-align: right;
    color: #8d42ff;
    font-weight: 500;
    font-size: 1.2rem;
    padding-right: 1rem;
}

.userProfile {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.menuUserOpen {
    display: none;
}

.userActive {
    display: flex;
    gap: 1rem;
    width: 150px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 576px) {
    .username {
        display: none;
    }

    .userActive {
        position: absolute;
        flex-direction: column;
        top: 50px;
        right: -3px;
        width: 130px;
        padding: 1rem 0;
        background: #8d42ff;
        border-radius: 4px;
        box-shadow: 5px 5px 4px 0 rgba(141, 66, 255, 0.25);
    }
}

.button {
    background: none;
    margin-top: 1.2rem;
    padding: 0.8rem 2rem;
    color: #ffffff;
    border: 1px solid #8d42ff;
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background: #8d42ff;
}

.twitch {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.twitchSvg {
    width: 25px;
}

.twitchText {
    font-size: 0.875rem;
}

@media (max-width: 576px) {
    .twitchText {
        display: none;
    }
}
